@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&display=swap');
$text: #333333;
$white: #fff;
$red: #E30A0A;
$gradient: linear-gradient(to right, #44AFE0 0%, #52DEE5 100%);
$purple: #DB99E9;
$transition: 0.3s;

$gray-50: #FAFAFA;
$gray-100: #F3F3F3;
$gray-200: #E6E6E6;
$gray-300: #D2D2D2;
$gray-400: #B9B9B9;
$gray-500: #A6A6A6;
$gray-600: #909090;
$gray-700: #797979;
$gray-800: #606060;
$gray-900: #3E3E3E;

$primary-50: #EDF9FF;
$primary-100: #CFF0FF;
$primary-200: #A9E4FF;
$primary-300: #7DCFF5;
$primary-400: #53B8E6;
$primary-500: #3BA5D7;
$primary-600: #2198CE;
$primary-700: #0E82B8;
$primary-800: #006C9E;
$primary-900: #004F74;

$secondary-50: #F7F5F0;
$secondary-100: #F5EFDF;
$secondary-200: #F2E6C8;
$secondary-300: #EBD8A7;
$secondary-400: #E3C984;
$secondary-500: #D9B860;
$secondary-600: #C39E3C;
$secondary-700: #AB882A;
$secondary-800: #906D0F;
$secondary-900: #735400;

$third-50: #ECF0F2;
$third-100: #D8DFE2;
$third-200: #BECACF;
$third-300: #8FA4AE;
$third-400: #688390;
$third-500: #557483;
$third-600: #3E6173;
$third-700: #2D5162;
$third-800: #183847;
$third-900: #061E2A;

$report-red: #D74343;
$report-orange: #F08A0E; 
$report-yellow: #B59A00;
$report-green: #52A044;
$report-blue: #3B8FDE;
$report-indigo: #3336D5;
$report-purple: #D05DE1;
$report-lightred: #F9E7E7;
$report-lightorange: #FDEEDB; 
$report-lightyellow: #F8F3D9;
$report-lightgreen: #E5F1E3;
$report-lightblue: #E2EEFA;
$report-lightindigo: #E0E1F9;
$report-lightpurple: #F8E7FB;

body {
    font-family: "Gantari", "Noto Sans TC", serif; 
    padding: 0;
    margin: 0;   
    color: $text;  
}

* {
    box-sizing: border-box;
    // transition: $transition;
}

input, button, textarea, select {
    background-color: transparent;
    border: 0;
    outline: none;
    color: $gray-900;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: $text;  
    transition: $transition;
    &:hover {
        color: $secondary-800;
    }
}

.container {
    max-width: 576px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.main {
    width: 100%;
    padding-top: 56px;
    &.main-page {
        padding-bottom: 67px;
        .inner {
            min-height: calc(100vh - 41px - 56px - 67px);
        }
    }
    &.hasfixedbtn {
        padding-bottom: 80px;
        .inner {
            min-height: calc(100vh - 41px - 56px - 80px);
        }
    }
    &.hasfixedbtncanedit {
        padding-bottom: 110px;
        .inner {
            min-height: calc(100vh - 41px - 56px - 110px);
        }
    }
    &.upload {
        padding: 0;
        .inner {
            min-height: 100vh;
        }
    }
    &-managerlogin {
        padding-top: 0;
        .inner {
            min-height: calc(100vh - 41px);
            background-color: $gray-50;
            padding: 70px 0 0;
        }
    }
    &-manager {
        padding-top: 0;
        .inner {
            min-height: 100vh;
            background-color: $gray-50;
            padding: 70px 0 0;
        }
    }
}

.header {
    padding: 0 20px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    max-width: 576px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    &_logo {
        display: block;
        width: 90px;
        >img {
            width: 100%;
        }
    }
    &_menu {
        width: 24px;
        height: 24px;
        position: relative;
        .bar {
            width: 85%;
            height: 2px;
            border-radius: 10px;
            left: 50%;
            position: absolute;
            transition: $transition;
            &.top {
                top: 5px;
                transform: translateX(-50%);
            }
            &.middle {
                top: 50%;
                transform: translate(-50%, -50%);
            }
            &.bottom {
                bottom: 5px;
                transform: translateX(-50%);
            }
        }
        &.active {
            .bar {
                background-color: $primary-900;
                &.top, &.middle {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &.bottom {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }
    &_nav {
        position: fixed;
        width: 100%;
        top: 56px;
        height: calc(100vh - 56px);
        // right: 0;
        padding: 25px 20px;
        width: 100%;
        max-width: 576px;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        z-index: 2;
        transition: none !important;
        &_info {
            border-radius: 20px;
            padding: 20px;
            margin-bottom: 20px;
            h3 {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 14px;
            }
            li {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                p {
                    margin: 0;
                    padding-left: 7px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &_icon {
                width: 22px;
                height: 22px;
                border-radius: 50%;
                border: 1px solid;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                    width: 11px;
                    height: 11px;
                }
            }
        }
        &_list {
            &_text {
                width: calc(100% - 24px);
                padding-right: 10px;
            }
            li {
                >a {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid;
                    padding: 13px 0;
                    span {
                        padding-left: 8px;
                    }
                }
            }
            &_icon {
                width: 20px;
                height: 20px;
            }
            &_arrow {
                width: 24px;
                height: 24px;
            }
        }
        &_mode {
            border-radius: 100px;
            padding: 15px 20px;
            position: absolute;
            width: calc(100% - 40px);
            left: 20px;
            bottom: 35px;
            &_icon {
                width: 20px;
                height: 20px;
            }
            &_text {
                width: calc(100% - 24px);
                padding-right: 10px;
                display: flex;
                align-items: center;
                span {
                    padding-left: 8px;
                }
            }
            &_arrow {
                width: 24px;
                height: 24px;
            }
        }
    }
    &_title {
        display: flex;
        align-items: center;
        h1 {
            margin: 0;
            padding-left: 10px;
            font-size: 18px;
            font-weight: 700;
        }
    }
    &_back {
        svg {
            width: 24px;
            height: 24px;
        }
    }
    &_icon {
        svg {
            width: 22px;
            height: 22px;
        }
    }
    &-manager {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        max-width: inherit;
        height: 70px;
        padding: 0 40px;
        box-shadow: 0 2px 15px rgba(0,0,0,0.15);
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        z-index: 10;
        .header {
            &_logo {
                width: 105px;
            }
            &_icon {
                &_name {
                    margin: 0;
                }
                &_item {
                    margin-left: 20px;
                    cursor: pointer;
                    transition: $transition;
                    position: relative;
                    >svg {
                        width: 24px;
                        height: 24px;
                        path {
                            transition: $transition;
                        }
                    }
                    &:hover {
                        >svg {
                            path {
                                fill: $secondary-600;
                            }
                        }
                    }
                }
                &_notify {
                    position: absolute;
                    background-color: #fff;
                    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
                    border-radius: 20px 0 20px 20px;
                    padding: 15px 20px;
                    top: calc(100% + 10px);
                    right: 0;
                    width: 350px;
                    max-height: calc(100vh - 100px);
                    overflow-y: auto;
                    display: none;
                    &_item {
                        padding: 13px 0;
                        display: flex;
                        align-items: center;
                        border-bottom: 1px solid $gray-100;
                        &:last-child {
                            border: 0;
                        }
                    }
                    &_text {
                        width: calc(100% - 24px);
                        padding-right: 15px;
                    }
                    &_arrow {
                        width: 24px;
                        height: 24px;
                        path {
                            fill: transparent !important;
                            stroke: $secondary-700;
                        }
                    }
                    &_tag {
                        padding: 4px 9px;
                        border-radius: 8px;
                        font-size: 12px;
                        font-weight: 500;
                        color: #fff;
                        margin-right: 10px;
                        &.bg {
                            &-blue {
                                background-color: $primary-400;
                            }
                            &-red {
                                background-color: #E30A0A;
                            }
                            &-purple {
                                background-color: #DB99E9;
                            }
                        }
                    }
                    &_time {
                        font-size: 14px;
                        color: $gray-500;
                        font-weight: 700;
                    }
                    &_title {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.btn {
    &-bg-brown {
        padding: 13px 40px;
        border-radius: 100px;
        background-color: $secondary-500;
        color: #fff;
        font-weight: 500;
        margin-top: 23px;
        margin-bottom: 80px;
        display: flex;
        width: fit-content;
        transition: $transition;
        &:hover {
            background-color: $primary-400;
            box-shadow: 0 2px 8px rgba(0,0,0,0.15);
        }
    }
    &-gradient {
        width: 100%;
        border-radius: 100px;
        background: $gradient;
        box-shadow: 0 2px 10px rgba(0,0,0,0.15);
        color: #fff;
        font-weight: 700;
        text-shadow: 0 1px 4px rgba(0,0,0,0.35);
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.w-fit {
            width: fit-content;
            padding: 12px 30px;
            transition: $transition;
            &:hover {
                color: #fff;
                transform: scale(1.1);
            }
        }
    }
    &-bg-lightblue {
        padding: 5px 15px;
        border-radius: 100px;
        font-size: 12px;
        font-weight: 500;
        display: flex;
        svg {
            width: 14px;
            height: 14px;
            margin-right: 5px;
        }
        &.lg {
            padding: 8px 25px;
            font-size: 16px;
            transition: $transition;
            &:hover {
                background-color: $secondary-500;
                color: #fff;
            }
        }
    }
    &-border-blue {
        padding: 5px 15px;
        border-radius: 100px;
        border: 1px solid;
        font-size: 12px;
    }
    &-upload {
        position: relative;
        >input[type='file'] {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
        }
    }
    &-icon-border-blue {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        border-radius: 100px;
        background-color: #fff;
        border: 1px solid $primary-400;
        gap: 8px;
        transition: $transition;
        svg {
            width: 18px;
            height: 18px;
            path {
                fill: $primary-800;
                transition: $transition;
            }
            &.icon-stroke {
                path {
                    stroke: $primary-800;
                }
            }
        }
        span {
            color: $primary-800;
            transition: $transition;
        }
        &:hover {
            background-color: $primary-400;
            svg {
                path {
                    fill: #fff;
                }
                &.icon-stroke {
                    path {
                        stroke: #fff;
                    }
                }
            }
            span {
                color: #fff;
            }
        }
    }
    &-bg-blue {
        padding: 10px 25px;
        border-radius: 100px;
        color: #fff;
        background-color: $primary-400;
        width: fit-content;
        transition: $transition;
        span {
            white-space: nowrap;
        }
        &:hover {
            background-color: $secondary-500;
        }
    }
    &-back {
        width: 35px;
        height: 35px;
        padding: 0;
        border-radius: 50%;
        background-color: $third-50;
        margin-right: 20px;
        transition: $transition;
        svg {
            width: 23px;
            height: 23px;
            path {
                transition: $transition;
            }
        }
        &:hover {
            background-color: $primary-400;
            svg {
                path {
                    stroke: #fff;
                }
            }
        }
    }
    &-delete {
        font-size: 14px;
        color: $red;
        text-decoration: underline;
        transition: $transition;
        &:hover {
            color: $secondary-600;
        }
    }
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 576px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 80px;
    border-top: 1px solid;
    span {
        font-size: 12px;
        text-align: center;
        display: block;
        margin-top: 10px;
    }
    &.canedit {
        height: 110px;
    }
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.navigation {
    width: 100%;
    max-width: 576px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 67px;
    position: fixed;
    display: flex;
    align-items: center;
    &_icon {
        margin-bottom: 5px;
        svg {
            width: 24px;
            height: 24px;
        }
        &_active {
            display: none;
        }
    }
    &_item {
        height: 100%;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        span {
            display: block;
            text-align: center;
            font-size: 12px;
        }
        &.active {
            span {
                font-weight: 700;
            }
            .navigation_icon {
                &_normal {
                    display: none;
                }
                &_active {
                    display: block;
                    transform: scale(1.2);
                    filter: drop-shadow(0 2px 6px rgba(60,193,255,0.35));
                }
            }
        }
    }
}

.inner {
    padding: 25px 20px;
    min-height: calc(100vh - 41px - 56px);
    &.bg {
        &-brown {
            background-color: $secondary-50;
        }
        &-gray {
            background-color: $gray-50;
        }
    }
    
}

.num-box {
    display: flex;
    &_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
    }
    &_num {
        width: 50px;
        text-align: center;
        display: block;
        font-weight: 500;
    }
    &.lg {
        .num-box {
            &_btn {
                width: 38px;
                height: 32px;
                svg {
                    width: 18px;
                    height: 18px;
                }
            }
            &_num {
                font-size: 18px;
            }
        }
    }
    &.sm {
        .num-box {
            &_btn {
                width: 28px;
                height: 24px;
                svg {
                    width: 14px;
                    height: 14px;
                }
            }
            &_num {
                font-size: 16px;
            }
        }
    }
}

.modal-common {
    left: 50%;
    transform: translate(-50%, 50px);
    width: 100%;
    max-width: 576px;
    transition: $transition;
    &.show {
        transform: translateX(-50%);
    }
    .modal-dialog {
        margin: 0;
        width: 100%;
        max-width: inherit;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .modal-content {
        border: 0;
        border-radius: 20px 20px 0 0;
        padding: 20px;
    }
    .modal-header {
        padding: 0 0 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        h4 {
            font-size: 16px;
            font-weight: 500;
            margin: 0;
            font-weight: 700;
        }
    }
    .modal-body {
        padding: 0;
    }
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    input[type="radio"] {
        width: 17px;
        height: 17px;
        position: relative;
        &::after {
            width: 100%;
            height: 100%;
            border-radius: 2px;
            border: 1px solid;
            top: 0;
            left: 0;
            position: absolute;
            content: "";
            border-radius: 50%;
        }
        &::before {
            position: absolute;
            content: "";
            width: 12px;
            height: 12px;
            background-image: url(../img/check.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            opacity: 0;
        }
        &:checked {
            &::before {
                opacity: 1;
            }
        }
    }
    label {
        font-size: 14px;
        padding-left: 8px;
    }
    input[type="text"] {
        width: calc(100% - 25px);
        margin-left: 8px;
        height: 45px;
        border-radius: 15px;
        border: 1px solid;
        padding: 0 12px;
        font-size: 14px;
    }
}

.return-price {
    label {
        width: 40px;
        font-size: 14px;
    }
    input[type="text"] {
        margin: 0 10px;
        width: calc(100% - 25px - 40px - 14px - 20px);
    }
    p {
        margin: 0;
        font-size: 14px;
        width: 14px;
    }
    &.solution {
        label {
            width: auto;
        }
    }
}

.input-chechbox {
    width: 17px;
    height: 17px;
    position: relative;
    &::after {
        width: 100%;
        height: 100%;
        border: 1px solid;
        top: 0;
        left: 0;
        position: absolute;
        content: "";
        border-radius: 3px;
    }
    &::before {
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        background-image: url(../img/check.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        opacity: 0;
    }
    &:checked {
        &::after {
            background-color: $primary-400;
            border-color: $primary-400;
        }
        &::before {
            opacity: 1;
        }
    }
    &-wrap {
        margin-bottom: 12px;
        label {
            font-size: 14px;
            padding-left: 8px;
        }
        input[type="text"] {
            width: calc(100% - 25px);
            margin-left: 8px;
            height: 45px;
            border-radius: 15px;
            border: 1px solid;
            padding: 0 12px;
            font-size: 14px;
        }
    }
}

.manager {
    &-nav {
        width: 300px;
        background-color: $secondary-50;
        padding: 30px 30px 70px 0;
        position: relative;
        position: fixed;
        height: calc(100% - 70px);
        top: 70px;
        left: 0;
        ul {
            li {
                margin-bottom: 10px;
            }
            a {
                padding: 12px 20px;
                display: block;
                border-radius: 0 100px 100px 0;
                &.active {
                    background-color: $primary-400;
                    color: #fff;
                }
            }
        }
        &_copyright {
            padding-left: 30px;
            color: $gray-600;
            margin: 0;
            font-size: 14px;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 30px;
        }
    }
    &-main {
        padding: 30px 40px 40px;
        padding: 30px 40px 40px 340px;
    }
    &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        h1 {
            margin: 0;
            font-size: 36px;
            font-weight: 700;
        }
        &_btn {
            gap: 20px;
        }
        .machine-num {
            margin-left: 20px;
            margin-bottom: 0;
            font-size: 14px;
            color: $gray-500;
        }
    }
    &-tab {
        display: flex;
        align-items: center;
        gap: 30px;
        a {
            display: block;
            padding: 10px 0 13px;
            position: relative;
            color: $third-300;
            transition: $transition;
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                border-radius: 3px 3px 0 0;
                background: $gradient;
                left: 0;
                bottom: 0;
                opacity: 0;
                transition: $transition;
            }
            &.active, &:hover {
                color: $primary-800;
                font-weight: 700;
                &::after {
                    opacity: 1;
                }
            }
        }
    }
}

.table-common {
    width: 100%;
    &_title {
        background-color: $primary-700;
        th {
            padding: 12px 5px;
            color: #fff;
            font-weight: 500;
            font-size: 14px;
            &:first-child {
                padding-left: 15px;
                border-radius: 13px 0 0 13px;
            }
            &:last-child {
                padding-right: 15px;
                border-radius: 0 13px 13px 0;
            }
        }
    }
    &_content {
        td {
            font-size: 14px;
            font-weight: 300;
            padding: 15px 5px;
            border-bottom: 1px solid $gray-200;
            &:first-child {
                padding-left: 15px;
            }
            &:last-child {
                padding-right: 15px;
            }
        }
    }
    &_func {
        a {
            text-decoration: underline;
        }
    }
    &_arrow {
        width: 10px;
        margin-left: 5px;
        cursor: pointer;
    }
}

.input-datepick {
    background-image: url(../img/calendar.svg);
    background-size: 24px;
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
}



