body {
    &.light-mode {
        background-color: #fff;
        color: $text;
        .mode-pic {
            &.lightMode {
                display: block;
            }
            &.darkMode {
                display: none;
            }
        }
        .header {
            background-color: #fff;
            &_menu {
                .bar {
                    background-color: $primary-400;
                }
            }
            &_nav {
                background-color: #fff;
                &_info {
                    background-color: $primary-50;
                    h3 {
                        color: $primary-900;
                    }
                    li {
                        p {
                            color: $text;
                        }
                    }
                    &_icon {
                        border-color: $primary-500;
                        svg {
                            path {
                                fill: $primary-500
                            }
                        }
                    }
                }
                &_list {
                    li {
                        >a {
                            border-color: $third-50;
                            span {
                                color: $text;
                            }
                        }
                    }
                    &_icon {
                        path {
                            fill: $primary-800;
                        }
                    }
                    &_arrow {
                        path {
                            stroke: $primary-800;
                        }
                    }
                }
                &_mode {
                    background-color: $primary-50;
                    &_icon {
                        path {
                            fill: $primary-900;
                        }
                    }
                    &_text {
                        span {
                            color: $text;
                        }
                    }
                    &_arrow {
                        path {
                            stroke: $primary-800;
                        }
                    }
                }
            }
            &_title {
                h1 {
                    color: $primary-900;
                }
            }
            &_back {
                svg {
                    path {
                        stroke: $primary-900;                    }

                }
            }
            &_icon {
                svg {
                    path {
                        fill: $primary-600;
                    }
                }
            }
        }
        .login {
            h1 {
                color: $primary-900;
            }
            &_input {
                border-color: $gray-300;
                svg {
                    path {
                        fill: $primary-500;
                    }
                }
                &::before {
                    background-color: $gray-300;
                }
                input {
                    &::placeholder {
                        color: $gray-300;
                    }                    
                }
            }
            &_line {
                &::after {
                    background-color: #C9DCD1;
                }
                >p {
                    background-color: $white;
                }
            }
        }
        .footer {
            background-color: #fff;
            color: $gray-600;
        }
        .home-title {
            color: $text;
            border-color: $gray-100;
        }
        .sum {
            &_num {
                color: $primary-800;
            }
        }
        .announce {
            &_item {
                &::after {
                    background-color: $third-50;
                }
                &.notread {
                    background-color: $secondary-100;
                    .announce {
                        &_text {
                            h3 {
                                color: $text;
                            }
                        }
                        &_tag {
                            border-color: $primary-400;
                            background-color: $primary-400;
                            color: $white;
                        }
                    }
                }
            }
            &_tag {
                border-color: $primary-50;
                background-color: $primary-50;
                color: $primary-800;
            }
            &_arrow {
                path {
                    stroke: $secondary-700;
                }
            }
            &-detail {
                &_main {
                    color: $gray-900;
                }
            }
        }
        .navigation {
            background-color: $primary-50;
            &_icon {
                &_normal {
                    path {
                        fill: $third-400;
                    }
                }
            }
            &_item {
                span {
                    color: $third-400;
                }
                &.active {
                    span {
                        color: $primary-900;
                        font-weight: 500;
                    }
                }
            }
        }
        #calendar {
            .fc-prev-button, .fc-next-button {
                background-color: $secondary-50;
                .fc-icon {
                    color: $primary-900;
                }
            }
            .fc-col-header-cell-cushion {
                color: #fff;
            }
            .fc-col-header-cell.fc-day {
                background-color: $secondary-500;
            }
            .fc-daygrid-day-number {
                color: $gray-800;
            }
            .fc-daygrid-day.fc-day.fc-day-today {
                background-color: $secondary-50;
            }
            .fc-daygrid-day, .fc-scrollgrid, tr, td {
                border-color: $gray-200;
            }
        }
        .calendar {
            &-list {
                &_item {
                    border-color: $third-50;
                }
                &_date {
                    background-color: $primary-50;
                    color: $primary-900;
                }
                &_day {
                    color: $gray-600;
                }
                &_reason {
                    color: $gray-800;
                }
            }
        }
        .num-box {
            &_btn {
                background-color: $primary-50;
                svg {
                    path {
                        stroke: $primary-900;
                    }
                }
            }
        }
        .buy {
            &_uniform {
                border-color: $third-200;
                h2 {
                    border-color: $third-50;
                    color: $primary-900;
                }
            }
            &-remark {
                h2 {
                    color: $primary-900;
                }
                ol {
                    li {
                        color: $gray-600;
                    }
                }
            }
            &-record {
                background-color: #fff;
                box-shadow: 0 4px 15px rgba(0,0,0,0.1);
                &_info {
                    border-color: $third-50;
                }
                &_date {
                    color: $primary-900;
                }
                &_status {
                    color: $primary-600;
                }
            }
        }
        .fixed-bottom {
            background-color: $white;
            border-color: $third-100;
            span {
                color: $gray-700;
            }
        }
        .send {
            svg {
                path {
                    fill: $third-400;
                }
            }
        }
        .factory {
            &_title {
                h2 {
                    color: $primary-900;
                }
            }
            &_list {
                &_item {
                    background-color: #fff;
                    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
                }
                &_text {
                    h3 {
                        color: $gray-900;
                    }
                }
                &_icon {
                    a {
                        background-color: $primary-50;
                        svg {
                            path {
                                fill: $primary-500;
                            }
                        }
                    }
                }
            }
        }
        .modal-common {
            .modal-content {
                background-color: #fff;
            }
            .modal-header {
                border-color: $gray-200;
                h4 {
                    color: $primary-900;
                }
            }
        }
        .modal-call {
            &_item {
                border-color: $gray-100;
            }
            &_store {
                color: $gray-900;
            }
            &_num {
                color: $gray-600;
            }
            &_icon {
                background-color: $primary-50;
                svg {
                    path {
                        fill: $primary-400;
                    }
                }
            }
        }
        .notify {
            &_item {
                &::after {
                    background-color: $gray-200;
                }
                &.notread {
                    background-color: $secondary-50;
                }
            }
            &_text {
                h2 {
                    color: $gray-900;
                }
            }
            &_arrow {
                path {
                    stroke: $secondary-700;
                }
            }
        }
        .checkbox-item {
            input[type="radio"] {
                &::after {
                    border-color: $third-200;
                    background-color: #fff;
                }
                &:checked {
                    &::after {
                        background-color: $primary-400;
                        border-color: $primary-400;
                    }
                }
            }
            input[type="text"] {
                border-color: $gray-200;
                color: $text;
                background-color: #fff;
                &::placeholder {
                    color: $gray-300;
                }
            }
            &.return-price {
                label {
                    color: $gray-900;
                }
                p {
                    color: $gray-900;
                }
            }
        }
        .task {
            &_tabbar {
                background-color: $primary-50;
                &_item {
                    span {
                        color: $third-600;
                    }
                    &.active {
                        span {
                            color: $primary-800;
                        }
                    }
                }
            }
            &_list {
                &_item {
                    &.active {
                        background-color: $secondary-50;
                    }
                }
                &_inner {
                    border-color: $third-100;
                    background-color: #fff;
                }
                &_date {
                    color: $primary-900;
                }
                &_num {
                    color: $gray-600;
                }
                &_arrow {
                    path {
                        stroke: $secondary-600;
                    }
                }
            }
            &-card {
                background-color: #fff;
                box-shadow: 0 4px 15px rgba(0,0,0,0.1);
                border-color: $white;
                &.puttop {
                    box-shadow: 0 4px 15px rgba(0, 79, 116, 0.19);
                }
                &.strange {
                    box-shadow: 0 4px 15px rgba(116, 0, 189, 0.18);
                    .task {
                        &-card {
                            &_remark {
                                border-color: rgba(219, 153, 233, 0.18);
                                background-color: rgba(219, 153, 233, 0.18);
                                h4 {
                                    color: #8F32A2;
                                }
                            }
                        }
                    }
                }
                &.clientreport {
                    box-shadow: 0 4px 15px rgba(119, 1, 1, 0.19);
                    .task {
                        &-card {
                            &_remark {
                                border-color: rgba(227, 10, 10, 0.05);
                                background-color: rgba(227, 10, 10, 0.05);
                                h4 {
                                    color: #AF0000;
                                }
                            }
                        }
                    }
                }
                &_infoBtn {
                    border-color: $primary-500;
                    svg {
                        path {
                            fill: $primary-500;
                        }
                    }
                }
                &_contact {
                    border-color: $primary-500;
                    color: $primary-500;
                }
                &_head {
                    border-color: $third-50;
                }
                &_remark {
                    background-color: $primary-50;
                    border-color: $primary-50;
                    h4 {
                        color: $primary-900;
                    }
                    p {
                        color: $gray-800;
                    }
                }
            }
            &-info {
                &_title {
                    h3 {
                        color: $secondary-900;
                    }
                }
                &_icon {
                    path {
                        fill: $secondary-900;
                    }                        
                }
                &_content {
                    color: $gray-800;
                }
                &_btn {
                    &_item {
                        border-color: $primary-400;
                        background-color: $white;
                        svg {
                            path {
                                fill: $primary-400;
                            }
                        }
                    }
                }
            }
            &-detail {
                &_remark {
                    background-color: #fff;
                    border-color: $third-200;
                    h4 {
                        color: $primary-900;
                    }
                    p {
                        color: $gray-800;
                    }
                }
                &_item {
                    background-color: #fff;
                    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
                }
                &_title {
                    color: $primary-900;
                }
                &_arrow {
                    >svg {
                        path {
                            stroke: $secondary-700;
                        }
                    }
                }
                &_machine {
                    &-head {
                        border-color: $third-50;
                    }
                    &_item {
                        border-color: $third-100;
                    }
                    &_text {
                        h3 {
                            color: $gray-900;
                        }
                    }
                }
                &_machinenum {
                    background-color: $secondary-100;
                    color: $secondary-700;
                }
            }
        }
        .modal-message {
            &_preview {
                background-color: $primary-50;
                h5 {
                    color: $primary-900;
                }
                p {
                    color: $gray-800;
                }
            }
        }
        .btn {
            &-bg-lightblue {
                background-color: $primary-50;
                color: $primary-800;
                svg {
                    path {
                        fill: $primary-700;
                        stroke: $primary-700;
                    }
                }
            }
            &-border-blue {
                border-color: $primary-400;
                color: $primary-800;
            }
        }
        .contact-record {
            &_date {
                color: $gray-500;
            }
            &_btn {
                a {
                    border-color: $primary-400;
                    span {
                        color: $primary-800;
                    }
                    svg {
                        path {
                            fill: $primary-400;
                        }
                    }
                }
            }
        }
        .detail {
            &_item {
                &_title {
                    color: $primary-800;
                }
                &_content {
                    color: $gray-800;
                }
                &_textarea {
                    background-color: #fff;
                    border-color: $gray-200;
                    &::placeholder {
                        color: $gray-300;
                    }
                }
                &_input {
                    background-color: #fff;
                    border-color: $gray-200;
                    &::placeholder {
                        color: $gray-300;
                    }
                }
                &_select {
                    border-color: $gray-200;
                    background-color: #fff;
                    background-image: url(../img/chevron-down-select.svg);
                }
                &-service {
                    &::after {
                        background: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
                    }
                }
            }
            &_intro {
                color: $gray-600;                
            }
        }
        .total-price {
            background-color: $secondary-100;
            h3 {
                color: $primary-900;
            }
        }
        .report_split {
            label {
                color: $gray-900;
            }
        }
        .input-chechbox {
            &::after {
                border-color: $third-200;
            }
            &:checked {
                &::after {
                    background-color: $primary-400;
                    border-color: $primary-400;
                }
            }
            &-wrap {
                input[type="text"] {
                    border-color: $gray-200;
                    background-color: #fff;
                    &::placeholder {
                        color: $gray-300;
                    }
                }
            }
        }
        .task-people {
            border-color: $third-100;
        }
        .upload {
            &_pic {
                &_inner {
                    background-color: $third-50;
                    svg {
                        path {
                            fill: $third-300;
                        }
                    }
                }
                &::after {
                    background-color: $third-200;
                    background: conic-gradient($third-200 0, $third-200 60deg, transparent 60deg);
                }
            }
            p {
                color: $third-600;
            }
        }
        .modal-mechinereport {
            .row {
                >div {
                    a {
                        border-color: $primary-500;
                        color: $primary-800;
                    }
                }
            }
        }
        .strange-info {
            background-color: #fff;
        }
    }
    &.dark-mode {
        background-color: #000;
        color: $white;
        .mode-pic {
            &.lightMode {
                display: none;
            }
            &.darkMode {
                display: block;
            }
        }
        .header {
            background-color: $text;
            &_menu {
                .bar {
                    background-color: $white;
                }
            }
            &_nav {
                background-color: #000;
                &_info {
                    background-color: $gray-900;
                    h3 {
                        color: $white;
                    }
                    li {
                        p {
                            color: $white;
                        }
                    }
                    &_icon {
                        border-color: $gray-300;
                        svg {
                            path {
                                fill: $gray-300
                            }
                        }
                    }
                }
                &_list {
                    li {
                        >a {
                            border-color: $gray-900;
                            span {
                                color: $white;
                            }
                        }
                    }
                    &_icon {
                        path {
                            fill: $gray-400;
                        }
                    }
                    &_arrow {
                        path {
                            stroke: $gray-400;
                        }
                    }
                }
                &_mode {
                    background-color: $gray-900;
                    &_icon {
                        path {
                            fill: $gray-400;
                        }
                    }
                    &_text {
                        span {
                            color: $white;
                        }
                    }
                    &_arrow {
                        path {
                            stroke: $gray-400;
                        }
                    }
                }
            }
            &_title {
                h1 {
                    color: $white;
                }
            }
            &_back {
                svg {
                    path {
                        stroke: $white;                    
                    }
                }
            }
            &_icon {
                svg {
                    path {
                        fill: $gray-200;
                    }
                }
            }
        }
        .login {
            h1 {
                color: $white;
            }
            &_input {
                border-color: $gray-800;
                svg {
                    path {
                        fill: $white;
                    }
                }
                &::before {
                    background-color: $gray-800;
                }
                input {
                    &::placeholder {
                        color: $gray-800;
                    }                    
                }
            }
            &_line {
                &::after {
                    background-color: rgba(201, 220, 209, 0.38);
                }
                >p {
                    background-color: #000;
                }
            }
        }
        .footer {
            background-color: $text;
            color: $gray-300;
        }
        .home-title {
            color: $white;
            border-color: $gray-900;
        }
        .sum {
            &_num {
                color: $white;
            }
        }
        .announce {
            &_item {
                &::after {
                    background-color: $gray-900;
                }
                &.notread {
                    background-color: $gray-800;
                    .announce {
                        &_text {
                            h3 {
                                color: $white;
                            }
                        }
                        &_tag {
                            border-color: $gray-400;
                            background-color: transparent;
                            color: $gray-300;
                        }
                        &_arrow {
                            path {
                                stroke: $white;
                            }
                        }
                    }
                }
            }
            &_tag {
                border-color: $gray-900;
                background-color: $gray-900;
                color: $gray-300;
            }
            &_arrow {
                path {
                    stroke: $gray-50;
                }
            }
            &_text {
                h3 {
                    color: $white;
                }
            }
            &-detail {
                &_main {
                    color: $gray-400;
                }
            }
        }
        .navigation {
            background-color: $gray-800;
            &_icon {
                &_normal {
                    path {
                        fill: $gray-300;
                    }
                }
            }
            &_item {
                span {
                    color: $gray-300;
                }
                &.active {
                    span {
                        background: $gradient;
                        background-clip: text;
                        color: transparent;
                    }
                }
            }
        }
        #calendar {
            .fc-prev-button, .fc-next-button {
                background-color: $gray-900;
                .fc-icon {
                    color: $gray-400;
                }
            }
            .fc-col-header-cell.fc-day {
                background-color: $gray-900;
            }
            .fc-daygrid-day-number {
                color: $gray-300;
            }
            .fc-daygrid-day.fc-day.fc-day-today {
                background-color: $gray-800;
            }
            .fc-daygrid-day, .fc-scrollgrid, tr, td{
                border-color: $gray-800 !important;
            }
        }
        .calendar {
            &-list {
                &_item {
                    border-color: $gray-900;
                }
                &_date {
                    background-color: $gray-900;
                    color: $white;
                }
                &_day {
                    color: $gray-400;
                }
                &_reason {
                    color: $white;
                }
            }
        }
        .num-box {
            &_btn {
                background-color: $gray-900;
                svg {
                    path {
                        stroke: $gray-400;
                    }
                }
            }
        }
        .buy {
            &_uniform {
                border-color: $gray-900;
                h2 {
                    border-color: $gray-900;
                    color: $white;
                }
            }
            &-remark {
                h2 {
                    color: $white;
                }
                ol {
                    li {
                        color: $gray-400;
                    }
                }
            }
            &-record {
                background-color: $gray-900;
                box-shadow: none;
                &_info {
                    border-color: $gray-800;
                }
                &_date {
                    color: $gray-500;
                }
                &_status {
                    color: $gray-500;
                }
            }
        }
        .fixed-bottom {
            background-color: #000;
            border-color: $gray-900;
            span {
                color: $gray-400;
            }
        }
        .inner {
            background-color: #000 !important;
        }
        .send {
            svg {
                path {
                    fill: $gray-800;
                }
            }
        }
        .factory {
            &_title {
                h2 {
                    color: $white;
                }
            }
            &_list {
                &_item {
                    background-color: $gray-900;
                    box-shadow: none;
                }
                &_text {
                    h3 {
                        color: $gray-400;
                    }
                }
                &_icon {
                    a {
                        background-color: $gray-800;
                        svg {
                            path {
                                fill: $white;
                            }
                        }
                    }
                }
            }
        }
        .modal-common {
            .modal-content {
                background-color: $gray-900;
            }
            .modal-header {
                border-color: $gray-800;
                h4 {
                    color: $white;
                }
            }
            .num-box_btn {
                background-color: $gray-800;
            }
        }
        .modal-call {
            &_item {
                border-color: $gray-800;
            }
            &_store {
                color: $white;
            }
            &_num {
                color: $gray-400;
            }
            &_icon {
                background-color: $gray-800;
                svg {
                    path {
                        fill: $white;
                    }
                }
            }
        }
        .notify {
            &_item {
                &::after {
                    background-color: $gray-900;
                }
                &.notread {
                    background-color: $gray-800;
                }
            }
            &_text {
                h2 {
                    color: $white;
                }
            }
            &_arrow {
                path {
                    stroke: $gray-500;
                }
            }
        }
        .checkbox-item {
            input[type="radio"] {
                &::after {
                    border-color: $gray-600;
                    background-color: $gray-900;
                }
            }
            input[type="text"] {
                border-color: $gray-700;
                color: $white;
                background-color: transparent;
                &::placeholder {
                    color: $gray-700;
                }
            }
            &.return-price {
                label {
                    color: $gray-300;
                }
                p {
                    color: $gray-300;
                }
            }
        }
        .task {
            &_tabbar {
                background-color: $gray-900;
                &_item {
                    span {
                        color: $gray-400;
                    }
                    &.active {
                        span {
                            color: $white;
                        }
                    }
                }
            }
            &_list {
                &_item {
                    &.active {
                        background-color: $gray-900;
                    }
                }
                &_inner {
                    border-color: $gray-800;
                    background-color: #000;
                }
                &_date {
                    color: $white;
                }
                &_num {
                    color: $gray-500;
                }
                &_arrow {
                    path {
                        stroke: $gray-700;
                    }
                }
            }
            &-card {
                background-color: #4F4F4F;
                box-shadow: none;
                border-color: #606060;
                &.puttop {
                    box-shadow: none;
                }
                &.strange {
                    box-shadow: none;
                    .task {
                        &-card {
                            &_remark {
                                background-color: transparent;
                                border-color: #F7CDFF;
                                h4, p {
                                    color: #F7CDFF;
                                }
                            }
                        }
                    }
                }
                &.clientreport {
                    box-shadow: none;
                    .task {
                        &-card {
                            &_remark {
                                background-color: none;
                                border-color: #FFBBBB;
                                h4, p {
                                    color: #FFBBBB;
                                }
                            }
                        }
                    }
                }
                &_infoBtn {
                    border-color: $gray-700;
                    background-color: $gray-700;
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                }
                &_contact {
                    border-color: $gray-700;
                    background-color: $gray-700;
                    color: $white;
                }
                &_head {
                    border-color: $gray-800;
                }
                &_remark {
                    background-color: transparent;
                    border-color: $primary-200;
                    h4 {
                        color: $primary-200;
                    }
                    p {
                        color: $primary-200;
                    }
                }
            }
            &-info {
                &_title {
                    h3 {
                        color: $gray-500;
                    }
                }
                &_icon {
                    path {
                        fill: $gray-500;
                    }                        
                }
                &_content {
                    color: $white;
                }
                &_btn {
                    &_item {
                        border-color: $gray-800;
                        background-color: $gray-800;
                        svg {
                            path {
                                fill: $white;
                            }
                        }
                    }
                }
            }
            &-detail {
                &_remark {
                    background-color: transparent;
                    border-color: $gray-800;
                    h4 {
                        color: $white;
                    }
                    p {
                        color: $gray-300;
                    }
                }
                &_item {
                    background-color: $gray-900;
                    box-shadow: none;
                }
                &_title {
                    color: $white;
                }
                &_arrow {
                    >svg {
                        path {
                            stroke: $gray-600;
                        }
                    }
                }
                &_machine {
                    &-head {
                        border-color: $gray-800;
                    }
                    &_item {
                        border-color: $gray-700;
                    }
                    &_text {
                        h3 {
                            color: $white;
                        }
                    }
                }
                &_machinenum {
                    background-color: $gray-800;
                    color: $gray-200;
                }
            }
        }     
        .modal-message {
            &_preview {
                background-color: $gray-800;
                h5 {
                    color: $white;
                }
                p {
                    color: $gray-300;
                }
            }
        }  
        .btn {
            &-bg-lightblue {
                background-color: $gray-800;
                color: $gray-300;
                svg {
                    path {
                        fill: $gray-300;
                        stroke: $gray-300;
                    }
                }
            }
            &-border-blue {
                border-color: $gray-800;
                background-color: $gray-800;
                color: $gray-300;
            }
        }
        .contact-record {
            &_btn {
                a {
                    border-color: $gray-300;
                    span {
                        color: $gray-300;
                    }
                    svg {
                        path {
                            fill: $gray-300;
                        }
                    }
                }
            }
        }
        .detail {
            &_item {
                &_title {
                    color: $white;
                }
                &_content {
                    color: $gray-500;
                }
                &_textarea {
                    background-color: transparent;
                    border-color: $gray-800;
                    color: $gray-300;
                    &::placeholder {
                        color: $gray-800;
                    }
                }
                &_input {
                    background-color: transparent;
                    border-color: $gray-800;
                    color: $gray-300;
                    &::placeholder {
                        color: $gray-800;
                    }
                }
                &_select {
                    background-color: transparent;
                    border-color: $gray-800;
                    color: $gray-300;
                    background-image: url(../img/chevron-down-white.svg);
                }
                &-service {
                    &::after {
                        background: linear-gradient(to right, rgba(0,0,0,0) 0%, #000 100%);
                    }
                }
                .checkbox-item {
                    input[type="radio"] {
                        &::after {
                            background-color: #000;
                        }
                    }
                    label {
                        color: $gray-300;
                    }
                }
                .input-chechbox-wrap {
                    label {
                        color: $gray-300;
                    }
                }
            }
            &_intro {
                color: $gray-400;                
            }
        }
        .total-price {
            background-color: $gray-900;
            h3 {
                color: $white;
            }
        }
        .report_split {
            label {
                color: $gray-300;
            }
        }
        .input-chechbox {
            &::after {
                border-color: $gray-600;
                background-color: #000;
            }
            &-wrap {
                input[type="text"] {
                    border-color: $gray-700;
                    background-color: transparent;
                    color: $gray-300;
                    &::placeholder {
                        color: $gray-700;
                    }
                }
            }
        }
        .task-people {
            border-color: $gray-800;
        }
        .upload {
            &_pic {
                &_inner {
                    background-color: $gray-900;
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                }
                &::after {
                    background-color: $gray-300;
                    background: conic-gradient($gray-300 0, $gray-300 60deg, transparent 60deg);
                }
            }
            p {
                color: $white;
            }
        }
        .modal-mechinereport {
            .row {
                >div {
                    a {
                        border-color: $gray-800;
                        background-color: $gray-800;
                        color: $gray-300;
                    }
                }
            }
        }
        .strange-info {
            background-color: $gray-900;
        }
        
    }  
}